/* configuracion de FOOTER */
.bi{
    margin: 5px;
    color: #f3f3f3;
  }
  .mt-auto{
    display: flex;
    justify-content: center;
    padding: 30pxqq;
  }
  
  @media (max-width: 768px) {

    .mt-auto{
      display: flex;
      text-align: center;
    }
  
  }