.form-container-gral{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 5px solig #eee;
}
.form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 70vh;
}
.form-title{
    font-size: 35px;
}
.inp{
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
.form-input{
border: none;
outline: none;
background: none;
width: 260px;
margin-top: 40px;
padding-right: 10px;
font-size: 17px;
color: #0ef;
}
::-webkit-input-placeholder{
    color: #eee;
}
.wrapper{
    position: relative;
    width:80%;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr,1fr;
    border: 3px solid #00ffff;
    border-radius: 20px;
    box-shadow: 0 0 50px 0 #a6bc;
}
.submit{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius:  40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff)
}
.form-footer{
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.form-link{
    color: #0ef;
    text-decoration: none;
}
.banner{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(to right,#0ef,#c800ff);
    clip-path: polygon(0 0,100% 0, 100% 100%, 40% 100% );
   /*  background: rgba(0,0,0,.3);
    backdrop-filter: blur(30px); */
    padding-right: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 20px 20px 0;
}
.wel-text{
    font-size: 30px;
    margin-top: -50px;
    line-height: 50px;

}
.para{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}
@media screen and(max-width: 768px) {
    .wel-text{
        font-size: 20px;
    }
    .para{
        font-size: 12px;
    }
    .submit{
        width: 200px;
    }
    .form-input{
        width: 200px;
    }
    .form-footer{
        font-size: 10px;
    }
    .form{
        padding: 10%;
    }
}