.register-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.form-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: transparent;
    padding: 20px;
    border: 3px solid #0ef;
    border-radius: 20px;
    position: relative;
    margin: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .title-register {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title-register::before,.title-register::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #fff;
  }
  
  .title-register::before {
    width: 18px;
    height: 18px;
    background-color:#ddd;
  }
  
  .title-register::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: #fff;
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #0ef;
    text-decoration: none;
  }
  
  .signin a:hover {
    text-decoration: underline rgb(241, 242, 244);
  }
  
  .flex-register {
    display: flex;
    width: 100%;
    gap: 6px;
    
  }
  
  .form-register label {
    position: relative;
   
  }
  
  .form-register label .input-register {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border-bottom: 3px solid #fff;
     color: #fff;
    background-color: transparent;
  }
  
  .form-register label .input-register + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #0ef;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form-register label .input-register:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form-register label .input-register:focus + span,.form-register label .input-register:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form-register label .input-register:valid + span {
    color: #0ef;
  }
  
  .submit-register {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius:  40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff)

  }
  
  /* EFECTO PULSO EN EL TITULO */
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }