.section-container{
    margin: 80px 0px 60px 0px;
    border: 2px solid #fff;
    border-radius: 20px;
}
section p{
    border-radius: 20px;
    background: rgba(0, 0, 0, .3);
    font-size: 22px;
    text-align: center;
    padding: 30px;
    color: #fff;
   }
  