.container-gral{
  margin: 80px 0px 60px 0px;
   padding: 20px;
}
.section2-Container{
  text-align: center;
   color: #fff;
background: rgba(0,0,0,.5);
backdrop-filter: blur(50px);
border: 3px solid #fff;
border-radius: 20px;
padding: 10px;
}
.section2 img{
    border: 3px solid transparent;

}
 /* configuracion Section2 */
 .section2{
    display: flex;
    width: 100%;
    height: 200px;
  }
  .section2 img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .3s ease;
  }
  .section2 img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  
  }
  .section-Container{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 4%;
    padding: 20px;
    width: 100%;
    height: auto;

  }
  .section2-text{
    color: #fff;
    font-size: 24px;
    text-align: center;
  }
  .section2-h3{
    padding: 1.5rem;
  }