*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fondo */
.d-flex {
background-image: url(./Img/fondo-1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100%;
width: 100%;
}


